{% extends 'base.html' %} {% block content %}

<body>
  <h1 style="text-align: center; margin-bottom: 5rem">Cha & Moon Review</h1>

  <a href="{% url 'movie:new'%}" class="btn btn-outline-danger"> 작성 버튼</a>

  <table>
    <tr>
      <th>리뷰번호</th>
      <th>리뷰 제목</th>
      <th>작성 시간</th>
    </tr>

    {% for r in review %}
    <tr>
      <td>{{ r.pk }}</td>
      <td>
        <a
          href="{% url 'movie:detail' r.pk %}"
          style="text-decoration: none; color: black"
        >
          {{ r.title }}
        </a>
      </td>
      <td>{{ r.created_at }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
{% endblock%}
