{% extends 'base.html' %} {% block content %}

<form action="{% url 'movie:create' %}">
  <span class="input-group-text" id="inputGroup-sizing-lg">제목</span>
  <div class="input-group input-group-lg mb-3">
    <input
      maxlength="80"
      type="text"
      name="title"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-lg"
    />
  </div>

  <span class="input-group-text" id="inputGroup-sizing-lg">내용</span>
  <div class="input-group input-group-lg">
    <input
      type="text"
      name="content"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-lg"
    />
  </div>

  <div style="text-align:right">
    <input style="margin-top:2rem;" class="btn btn-outline-danger" type="submit" value="리뷰 쓰기" />
  </div>
</form>

{% endblock %}
